<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
          user-scalable=no,
          initial-scale=1.0,
          maximum-scale=1.0,
          minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NoteBoard</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js">
    </script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <link rel="stylesheet"
          href="http://davidtkatz.com/public_css/noteMaster.css">
    <style>
        .bg-primary > .card-block > .text-muted {
            color: #C0C0C0;
        }
        .te
    </style>
</head>
<body>
    <div id="app">
        <h3>{{title}}</h3>
        <div class="form">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control"
                       id="title"
                       type="text"
                       v-model="note.title">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control"
                          id="message"
                          v-model="note.message"></textarea>
            </div>
            <div class="form-group row">
                <div>
                <label class="col-xs-4"
                       for="colorSelect">Color select</label>
                <select v-model="note.color"
                        class="selectpicker col-xs-3 col-sm-2 col-md-1"
                        id="colorSelect">
                    <option value="default"
                            data-content="<span style='display: block; height: 20px; width: 20px;'class='label label-light'> </span>">
                        White
                    </option>
                    <option value="red"
                            data-content="<span style='display: block; height: 20px; width: 20px;'class='label label-danger'> </span>">
                        White
                    </option>
                    <option value="green"
                            data-content="<span style='display: block; height: 20px; width: 20px;'class='label label-success'> </span>">
                        Green
                    </option>
                    <option value="blue"
                            data-content="<span style='display: block; height: 20px; width: 20px;'class='label label-primary'> </span>">
                        White
                    </option>
                </select>
                </div>
            </div>
            <button class="btn btn-primary"
            @click="addNote">Submit</button>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4 note" v-for="(note, index) in notes">
                <div class="card" v-bind:class="{
                    'text-white bg-primary': note.color === 'blue',
                    'text-white bg-danger': note.color === 'red',
                    'text-white bg-success': note.color === 'green',
                    'text-black bg-light': note.color === 'default'
                }">
                    <div class="card-block">
                        <button class="close" name="button"
                                @click="removeNote(index)">&times;</button>
                        <h4 class="card-title">{{note.title}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ note.date }}
                        </h6>
                        <p class="card-text">{{ note.message }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                title: 'NoteBoard',
                note: {
                    title: '',
                    message: '',
                    color: ''
                },
                notes: Cookies.getJSON('notebookNotes'),
            },
            methods: {
                addNote() {
                    let { message, title, color } = this.note
                    this.notes.push({
                        message,
                        title,
                        date: new Date(Date.now()).toLocaleString(),
                        color
                    });
                    Cookies.set('notebookNotes',this.notes);
                },
                removeNote(index) {
                    this.notes.splice(index, 1)
                    Cookies.set('notebookNotes',this.notes);
                }
            },
            created: function () {
                if(Cookies.get('notebookNotes') === 'undefined'
                    || !Cookies.get('notebookNotes')) {
                    this.notes = [{
                        title: 'My Cat Is Awesome',
                        message: 'Teddy is a cool cat.',
                        color: 'blue',
                        rank: 1,
                        date: new Date().toLocaleString()
                    }];
                    Cookies.set('notebookNotes', this.notes)
                }
            }
        })
    </script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js">

    </script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js">
    </script>
</body>
</html>