<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
          user-scalable=no,
          initial-scale=1.0,
          maximum-scale=1.0,
          minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NoteBoard</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js">
    </script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <link rel="stylesheet"
          href="http://davidtkatz.com/public_css/noteMaster.css">
    <style>
        .bg-primary > .card-block > .text-muted {
            color: #C0C0C0;
        }
        .te
    </style>
</head>
<body>
    <div id="app">
        <h3>{{title}}</h3>
        <div class="form">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control"
                       id="title"
                       type="text"
                       v-model="note.title">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control"
                          id="message"
                          v-model="note.message"></textarea>
            </div>
            <div class="form-group row">
                <div>
                    <label class="col-xs-4"
                           for="colorSelect">Color select</label>
                    <select v-model="note.color"
                            class="selectpicker col-xs-3 col-sm-2 col-md-1"
                            id="colorSelect">
                        <option value="default"
                                data-content="<span style='display: block;
                                height: 20px; width: 20px;'
                                class='label label-light'> </span>"
                                selected>
                            White
                        </option>
                        <option value="red"
                                data-content="<span style='display: block;
                                height: 20px; width: 20px;'
                                class='label label-danger'> </span>">
                            White
                        </option>
                        <option value="green"
                                data-content="<span style='display: block;
                                 height: 20px; width: 20px;'
                                 class='label label-success'> </span>">
                            Green
                        </option>
                        <option value="blue"
                                data-content="<span style='display: block;
                                height: 20px; width: 20px;'
                                class='label label-primary'> </span>">
                            White
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="ranking">Importance</label>
                <select v-model="note.rank"
                        id="ranking">
                    <option value="1"
                            data-content="1"
                            selected>
                        1
                    </option>
                    <option value="2"
                            data-content="2">
                        2
                    </option>
                    <option value="3"
                            data-content="3">
                        3
                    </option>
                    <option value="4"
                            data-content="4">
                        4
                    </option>
                    <option value="5"
                            data-content="5">
                        5
                    </option>
                    <option value="6"
                            data-content="6">
                        6
                    </option>
                    <option value="7"
                            data-content="7">
                        7
                    </option>
                    <option value="8"
                            data-content="8">
                        8
                    </option>
                    <option value="9"
                            data-content="9">
                        9
                    </option>
                    <option value="10"
                            data-content="10">
                        10
                    </option>
                </select>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary"
                        @click="addNote">Submit</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-1 col-sm-offset-0">
                <div class="form-group text-center">
                    <label for="colorFilter">Filter by color</label>
                    <select name="colorFilter"
                            id="colorFilter"
                            v-model="filter">
                        <option value="">All</option>
                        <option value="default">White</option>
                        <option value="red">Red</option>
                        <option value="green">Green</option>
                        <option value="blue">Blue</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-sm-offset-6 col-xs-offset-3">
                <button class="btn btn-default" @click='sortNotes()'>
                    {{ sortButton.text }}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4 note"
                     v-for="(note, index) in filteredNotes">
                    <div class="card" :class="{
                        'text-white bg-primary': note.color === 'blue',
                        'text-white bg-danger': note.color === 'red',
                        'text-white bg-success': note.color === 'green',
                        'text-black bg-light': note.color === 'default'
                    }">
                        <div class="card-block">
                            <button class="close" name="button"
                                    @click="removeNote(index)">&times;</button>
                            <h4 class="card-title">{{note.title}}
                                <span class="label label-pill label-info">
                                    {{note.rank}}
                                </span>
                            </h4>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{ note.date }}
                            </h6>
                            <p class="card-text">{{ note.message }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                title: 'NoteBoard',
                sortToggle: false,
                sortButton: {
                    text: 'Sort Ascending'
                },
                filter: '',
                note: {
                    title: '',
                    message: '',
                    color: 'default',
                    rank: '1'
                },
                notes: Cookies.getJSON('notebookNotes'),
            },
            methods: {
                addNote() {
                    let { message, title, color, rank } = this.note
                    this.notes.push({
                        message,
                        title,
                        date: new Date(Date.now()).toLocaleString(),
                        color,
                        rank
                    });
                    Cookies.set('notebookNotes',this.notes);
                },
                removeNote(index) {
                    this.notes.splice(index, 1)
                    Cookies.set('notebookNotes',this.notes);
                },
                sortNotes() {
                    if(!this.sortToggle) {
                        this.sortToggle = !this.sortToggle;
                        this.sortButton.text = "Sort Descending";
                        return this.notes.sort((a, b) => a.rank - b.rank)

                    } else if(this.sortToggle) {
                        this.sortToggle = !this.sortToggle;
                        this.sortButton.text = "Sort Ascending";
                        return this.notes.sort((a, b) => b.rank - a.rank)
                    }
                }
            },
            computed: {
                filteredNotes() {
                    return this.notes.filter(note => {
                        return note.color.indexOf(this.filter) > -1
                    })
                }
            },
            created: function () {
                if(Cookies.get('notebookNotes') === 'undefined'
                    || !Cookies.get('notebookNotes')) {
                    this.notes = [{
                        title: 'My Cat Is Awesome',
                        message: 'Teddy is a cool cat.',
                        color: 'blue',
                        rank: 3,
                        date: new Date().toLocaleString()
                    }];
                    Cookies.set('notebookNotes', this.notes)
                }
            }
        })
    </script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js">

    </script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js">
    </script>
</body>
</html>